<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "urn:fontconfig:fonts.dtd">
<fontconfig>
  <match target="font">
    <edit mode="assign" name="antialias">
      <bool>true</bool>
    </edit>
  </match>
  <!-- Modern fonts do not require autohinting -->
  <match target="font">
    <edit mode="assign" name="autohint">
      <bool>false</bool>
    </edit>
  </match>
  <match target="font">
    <edit mode="assign" name="hinting">
      <bool>true</bool>
    </edit>
  </match>
  <match target="font">
    <edit mode="assign" name="hintstyle">
      <const>hintslight</const>
    </edit>
  </match>
  <match target="font">
    <edit mode="assign" name="lcdfilter">
      <const>lcddefault</const>
    </edit>
  </match>
  <match target="font">
    <edit mode="assign" name="rgba">
      <const>rgb</const>
    </edit>
  </match>
  <!-- Down scale fonts on low dpi displays -->
  <match target="font">
    <edit mode="assign" name="pixelsize">
      <times>
        <name>pixelsize</name>, <double>0.8</double>
      </times>
    </edit>
  </match>
  <cachedir>{{ env "XDG_RUNTIME_DIR" }}/fontconfig</cachedir>
</fontconfig>
