{{- $email := "cwopel@chlorm.net" -}}

{{- $headless := true -}}

{{- $isLinux := false -}}
{{- $isMacos := false -}}
{{- $isWindows := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-     $isLinux = true -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-     $isMacos = true -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-     $isWindows = true -}}
{{- end -}}
{{- $isUnix := false -}}
{{- if eq .chezmoi.os "darwin" "linux" -}}
{{-     $isUnix = true -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname = output "networksetup" "-getcomputername" | quote -}}
{{- end -}}
{{- if eq $hostname "miranova" "NOS4A2" "Raenok" -}}
{{-     $headless = false -}}
{{- end -}}

[cd]
    command = 'elvish'

[data]
    email = {{ $email | quote }}
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }}
    # Helper functions
    isLinux = {{ $isLinux }}
    isMacos = {{ $isMacos }}
    isWindows = {{ $isWindows }}
    isUnix = {{ $isUnix }}

[github]
    refreshPeriod = "12h"

[interpreters.elv]
    command = 'elvish'
