LICENSE
README.md
bootstrap.ps1
bootstrap.sh

{{ if not .isMacos }}
.chezmoiscripts/darwin/**
Library/
{{ end }}

{{ if not .isLinux }}
.chezmoiscripts/linux/**
.config/
.local/
.var/

.dir_colors
.nixpkgs/
.screenrc
.vimrc
.xprofile
{{ if .headless }}
.config/alacritty/
.config/alsa/
.config/beets/
.config/fontconfig/
.config/environment.d/10-gtk-overlay-scrollbars.conf
.config/gtk-3.0/
.config/JPEGView/
.config/kitty/
.config/mpd/
.config/mpDris2/
.config/mpv/
.config/ncmpcpp/
.config/pipewire/
.config/stalonetrayrc
.mozilla/
{{ end }}
{{ end }}

{{ if not .isWindows }}
.chezmoiscripts/windows/**
AppData/
Documents/

.minttyrc
{{ end }}
