# Firefox
#{{- if not .headless -}}
#{{- $mozillaDir := ".mozilla/" -}}
#{{- if .isWindows -}}
#{{-     $mozillaDir = "AppData/Roaming/Mozilla/" -}}
#{{- end -}}
#["{{ $mozillaDir }}/firefox/arkenfox/"]
#    type = "archive"
#    url = {{ gitHubReleaseAssetURL "arkenfox/user.js" "128.0" "128.0.tar.gz" | quote }}
#    # Non-deterministic tarball
#    checksum.sha256 = "DF22475F9653BAC564C5F496D27B86A4984E12D2E64E61727D0E198828F0F1EF"
#{{ end }}  # .headless

# Fonts
{{- if not .headless -}}
{{- $fontDir := ".local/share/fonts/" -}}
{{- if .isMacos -}}
{{-     $fontDir = "Library/Fonts/" -}}
{{- else if .isWindows -}}
{{-     $fontDir = "AppData/Local/Microsoft/Windows/Fonts/" -}}
{{- end -}}
# NerdFonts
["{{ $fontDir }}"]
    type = "archive"
    url = {{ gitHubReleaseAssetURL "ryanoasis/nerd-fonts" "v3.4.0" "Noto.tar.xz" | quote }}
    checksum.sha256 = "e28b31609d17fc50bdf9e6730c947a61b0e474af726c2c044c39bc78fcd9bfde"
    include = [
        "NotoSansMNerdFontMono-Regular.ttf",
    ]
{{- end -}}  # .headless

# MPV
{{- if not .headless -}}
{{- $mpvDir := ".config/mpv/" -}}
{{- if .isWindows -}}
{{-     $mpvDir = "AppData/Roaming/mpv" -}}
{{- end -}}
# MPV - UOSC
["{{ $mpvDir }}/"]
    type = "archive"
    url = {{ gitHubReleaseAssetURL "tomasklaen/uosc" "5.8.0" "uosc.zip" | quote }}
    checksum.sha256 = "d0eda0c758fb5a051d77ec2bce4b2161b980fa5291523aa3849a7beebf55681a"
    refreshPeriod = "168h"

# MPV - Thumbfast
["{{ $mpvDir }}/scripts/thumbfast/"]
    type = "archive"
    url = "https://github.com/po5/thumbfast/archive/9deb0733c4e36938cf90e42ddfb7a19a8b2f4641.tar.gz"
    checksum.sha256 = "1c984a92ebe12dfdb3cc4901117ca2f48fa0c227f6e99ce05f30782bac332e11"
    stripComponents = 1
    include = [
        "*/thumbfast.lua",
    ]
    refreshPeriod = "168h"

# MPV - VR-reversal
["{{ $mpvDir }}/scripts/vr-reversal/"]
    type = "archive"
    url = "https://github.com/dfaker/VR-reversal/archive/d69aecdb3767420b9a9fb4e7fa00d7fbe69a1eda.tar.gz"
    checksum.sha256 = "5fe88db59a2a409e775b29e688b3c9d8a958dae80efd9bbd7a6310d803075ad6"
    stripComponents = 1
    include = [
        "*/360plugin.lua",
        {{- if eq .chezmoi.os "windows" -}}
        "*/vr-reversal.bat",
        {{- end -}}
    ]
    refreshPeriod = "168h"

{{- end -}}  # .headless

