root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{elv,install,install-pre,install-post}]
indent_size = 4

[*.{lua}]
indent_size = 4

[local/bin/*]
indent_size = 4

[gitconfig]
indent_size = 2
