[submodule "config/sublime-text-3/Packages/sublime-nix"]
	path = config/sublime-text-3/Packages/sublime-nix
	url = https://github.com/wmertens/sublime-nix
[submodule "config/sublime-text-3/Packages/GitGutter"]
	path = config/sublime-text-3/Packages/GitGutter
	url = https://github.com/jisaacks/GitGutter
[submodule "config/sublime-text-3/Packages/SideBarEnhancements"]
	path = config/sublime-text-3/Packages/SideBarEnhancements
	url = https://github.com/titoBouzout/SideBarEnhancements
[submodule "config/sublime-text-3/Packages/cython"]
	path = config/sublime-text-3/Packages/cython
	url = https://github.com/petervaro/python
[submodule "config/sublime-text-3/Packages/SublimeAllAutocomplete"]
	path = config/sublime-text-3/Packages/SublimeAllAutocomplete
	url = https://github.com/alienhard/SublimeAllAutocomplete
[submodule "config/sublime-text-3/Packages/sublime_autotools"]
	path = config/sublime-text-3/Packages/sublime_autotools
	url = https://github.com/ptomato/sublime_autotools
[submodule "config/sublime-text-3/Packages/GoSublime"]
	path = config/sublime-text-3/Packages/GoSublime
	url = https://github.com/DisposaBoy/GoSublime
[submodule "config/sublime-text-3/Packages/Vala"]
	path = config/sublime-text-3/Packages/Vala
	url = https://github.com/technosophos/Vala-TMBundle
