[submodule "config/plex/Webtools.bundle"]
	path = config/plex/Webtools.bundle
	url = https://github.com/dagalufh/WebTools.bundle
[submodule "vim/pack/default-plugins/start/vim-go"]
	path = vim/pack/default-plugins/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/pack/default-plugins/start/nerdcommenter"]
	path = vim/pack/default-plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/pack/default-plugins/start/nerdtree"]
	path = vim/pack/default-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/pack/default-plugins/start/vim-surround"]
	path = vim/pack/default-plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/default-plugins/start/tabular"]
	path = vim/pack/default-plugins/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/pack/default-plugins/start/vim-multiple-cursors"]
	path = vim/pack/default-plugins/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "vim/pack/default-plugins/start/vimux"]
	path = vim/pack/default-plugins/start/vimux
	url = https://github.com/benmills/vimux
[submodule "vim/pack/default-plugins/start/vim-airline"]
	path = vim/pack/default-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/default-plugins/start/vim-airline-themes"]
	path = vim/pack/default-plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/default-plugins/start/vim-signify"]
	path = vim/pack/default-plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "vim/pack/default-plugins/start/elvish"]
	path = vim/pack/default-plugins/start/elvish
	url = https://github.com/dmix/elvish.vim
[submodule "vim/pack/default-plugins/start/python-syntax"]
	path = vim/pack/default-plugins/start/python-syntax
	url = https://github.com/vim-python/python-syntax
[submodule "vim/pack/default-plugins/start/vim-nix"]
	path = vim/pack/default-plugins/start/vim-nix
	url = https://github.com/LnL7/vim-nix
[submodule "vim/pack/default-plugins/start/vim-editorconfig"]
	path = vim/pack/default-plugins/start/vim-editorconfig
	url = https://github.com/sgur/vim-editorconfig
[submodule "vim/pack/default-plugins/start/vim-better-whitespace"]
	path = vim/pack/default-plugins/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "vim/pack/default-plugins/start/vim-monokai-truecolor"]
	path = vim/pack/default-plugins/start/vim-monokai-truecolor
	url = https://github.com/chlorm/vim-monokai-truecolor
