*~
*/#*#
*.local
config/beets/library.db
config/beets/state.pickle
config/flexget/variables.yml
config/fontconfig/fonts.conf
config/ncmpcpp/config
config/ncmpcpp/error.log
config/mpd/mpd.conf
config/mpv/mpv.conf
config/systemd/user/*.service
local/share/applications/alacritty.desktop
ssh/authorized_keys
ssh/id_*
ssh/known_hosts*
