*~
*/#*#
*.local
config/beets/library.db
config/beets/state.pickle
config/mpd/database
config/mpd/log
config/mpd/lyrics/
config/mpd/mpd.fifo
config/mpd/pid
config/mpd/state
config/mpd/sticker.sql
config/fish/fish_history
config/fish/fishd.*
config/sublime-text-3/Cache/
config/sublime-text-3/Index/
config/sublime-text-3/Local/
config/Terminal/terminalrc
emacs.d/auto-save-list/*
ncmpcpp/error.log
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/xmonad-x86_64-linux
