# Directories and files
filesystem_charset "UTF-8"
music_directory "{{ env "XDG_MUSIC_DIR" }}"
playlist_directory "{{ env "XDG_CONFIG_HOME" }}/mpd/playlists"
db_file "{{ env "XDG_STATE_HOME" }}/mpd/database"
log_file "{{ env "XDG_CACHE_HOME" }}/mpd/log"
pid_file "{{ env "XDG_RUNTIME_DIR" }}/mpd/mpd.pid"
state_file "{{ env "XDG_CACHE_HOME" }}/mpd/state"
sticker_file "{{ env "XDG_CACHE_HOME" }}/mpd/sticker"

# Network
bind_to_address "{{ env "XDG_RUNTIME_DIR" }}/mpd/socket"
# TODO: after ncmpcpp/d9c55771bb1059671486b1df245075e10bd6e853
#password "n0taS3cur3Pa55w0rdF0rMpd@admin"

# Playlists
max_playlist_length "4096"
save_absolute_paths_in_playlists "no"

auto_update "no"
restore_paused "yes"
#metadata_to_use "artist,album,title,track,name,genre,date,composer,performer,disc"

max_output_buffer_size "32768"

input {
  plugin "curl"
}

# Audio Outputs
audio_output {
  format         "48000:16:1"
  name           "MPD FIFO Output"
  path           "{{ env "XDG_RUNTIME_DIR" }}/mpd.fifo"
  type           "fifo"
}
audio_output {
  dsd            "no"
  format         "48000:32:2"
  mixer_type     "software"
  mixer_device   "default"
  mixer_control  "PCM"
  mixer_index    "0"
  name           "MPD PulseAudio Output"
  type           "pipewire"
}
