[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
ExecStart={{ lookPath "tmux" }} new-session -s %u -d
ExecStop={{ lookPath "tmux" }} kill-session -t %u
RemainAfterExit=yes

[Install]
WantedBy=default.target
