[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
ExecStart=@(search-external tmux)@ new-session -s %u -d
ExecStop=@(search-external tmux)@ kill-session -t %u
RemainAfterExit=yes

[Install]
WantedBy=default.target